header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 6vh;
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
    }

    .active {
      text-decoration: underline;
      text-underline-offset: 0.2rem;
      text-decoration-thickness: 0.2rem;
    }
  }
}
