$blue: rgb(27, 116, 228);
$trans-grey: rgba(255, 255, 255, 0.6);

@mixin flex-column-acenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-ajcenter {
  @include flex-column-acenter;
  justify-content: center;
}
