@use "./theme";
@import url("https://fonts.googleapis.com/css2?family=Ruda&display=swap");

* {
  box-sizing: border-box;
  z-index: 0;
}

body {
  margin: 0;
  font-family: "Ruda", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  min-height: 100vh;
  width: 100vw;
}

button,
input {
  font-family: inherit;
  border: none;
  border-radius: 0.2rem;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: theme.$trans-black;
  @include theme.flex-column-ajcenter;
}
